.partner {
  .banner {
    background-image: url('../imgs/partner/banner.png');
    background-size: auto 100%;
    width: 100%;
    height: 800px;
  }

  .main {
    width: 1560px;
    margin: 0 auto;

    .lead {
      margin-top: 100px;
      margin-bottom: 135px;

      .main-text {
        font-size: 48px;
        font-weight: 400;
        color: #333333;
        margin-bottom: 5px;
      }

      .sub-text {
        font-size: 14px;
        font-weight: 400;
        color: #666666;
      }

      @media screen and (max-width: 1400px) {
        margin-bottom: 115px;
        margin-top: 80px;

        .main-text {
          font-size: 44px;
        }
      }

      @media screen and (max-width: 1200px) {
        margin-bottom: 95px;
        margin-top: 70px;

        .main-text {
          font-size: 40px;
        }
      }

      @media screen and (max-width: 992px) {
        margin-bottom: 75px;
        margin-top: 50px;

        .main-text {
          font-size: 36px;
        }
      }

      @media screen and (max-width: 768px) {
        margin-bottom: 60px;
        margin-top: 35px;

        .main-text {
          font-size: 30px;
        }
      }

      @media screen and (max-width: 576px) {
        margin-bottom: 50px;
        margin-top: 25px;
      }
    }

    .floor-1st {
      margin-bottom: 120px;

      .pic-area {
        margin-bottom: 119px;
        gap: 40px;

        .item {
          position: relative;

          .pic {
            width: 100%;
            height: 0;
            padding-bottom: 100%;

            img {
              position: absolute;
              left: 0;
              top: 0;
              z-index: -1;
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }

          .desc {
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            background: rgba(0, 0, 0, 0.6);
            font-size: 18px;
            font-weight: 400;
            color: #ffffff;
            left: 0;
            right: 0;
            bottom: 0;
            box-sizing: border-box;
            padding: 19px 66px;
          }
        }
      }

      .intr {
        font-size: 36px;
        font-weight: 400;
        color: #333333;
      }

      @media screen and (max-width: 1400px) {
        margin-bottom: 100px;

        .pic-area {
          margin-bottom: 90px;
          .item {
            .desc {
              font-size: 16px;
              padding: 15px 55px;
            }
          }
        }

        .intr {
          font-size: 33px;
        }
      }

      @media screen and (max-width: 1200px) {
        margin-bottom: 80px;

        .pic-area {
          margin-bottom: 70px;

          .item {
            .desc {
              font-size: 14px;
              padding: 12px 45px;
            }
          }
        }

        .intr {
          font-size: 30px;
        }
      }

      @media screen and (max-width: 992px) {
        margin-bottom: 60px;

        .pic-area {
          row-gap: 30px;
          margin-bottom: 60px;
          width: 85%;
          margin: 0 auto;
          margin-bottom: 30px;

          .item {
            .desc {
              padding: 25px 45px;
            }
          }
        }

        .intr {
          font-size: 27px;
        }
      }

      @media screen and (max-width: 768px) {
        margin-bottom: 40px;

        .pic-area {
          margin-bottom: 50px;
          width: 100%;
          max-width: 609px;
          column-gap: 0;
          row-gap: 25px;

          .item {
            .desc {
              padding: 12px 45px;
            }
          }
        }

        .intr {
          font-size: 24px;
        }
      }

      @media screen and (max-width: 576px) {
        margin-bottom: 30px;

        .pic-area {
          margin-bottom: 35px;
          row-gap: 20px;

          .item {
            .desc {
              font-size: 12px;
              padding: 12px 20px;
            }
          }
        }

        .intr {
          font-size: 21px;
        }
      }

      @media screen and (max-width: 400px) {
        .pic-area {
          margin-bottom: 30px;
        }

        .intr {
          font-size: 19px;
        }
      }
    }

    .floor-2nd {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 41px;
      margin-bottom: 127px;

      .item {
        .title {
          font-size: 24px;
          font-weight: 400;
          color: #333333;
          margin-bottom: 10px;
        }

        .detail {
          font-size: 18px;
          font-weight: 400;
          color: #666666;
        }
      }

      @media screen and (max-width: 1400px) {
        margin-bottom: 100px;
      }

      @media screen and (max-width: 1200px) {
        grid-template-columns: repeat(2, 1fr);
        margin-bottom: 80px;
      }

      @media screen and (max-width: 992px) {
        margin-bottom: 60px;
      }

      @media screen and (max-width: 768px) {
        margin-bottom: 40px;
        grid-template-columns: 1fr;
        gap: 20px;

        .item {
          max-width: 570px;
          margin-left: auto;
          margin-right: auto;

          .title {
            font-size: 22px;
          }

          .detail {
            font-size: 14px;
          }
        }
      }
    }

    @media screen and (max-width: 1630px) {
      width: 95%;
    }
  }
}
